@tailwind base;
@tailwind components;
@tailwind utilities;
/* ĐỊNH NGHĨA CSS ĐỂ ẨN SCROLLBAR */
.hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
  
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* WebKit */
}


@layer components {
    .input-field {
        @apply w-full px-4 rounded-lg bg-gray-800 border border-gray-700 
        focus:ring-2 focus:ring-red-500 focus:border-red-700
        transition-colors text-white placeholder-gray-400
        hover:border-red-200 caret-red-500 selection:bg-red-500/30;
    }
    .btn-primary {
        @apply w-full flex justify-center py-2 px-4 border border-transparent 
        text-sm font-medium rounded-md text-white bg-primary 
        hover:bg-primary-hover focus:outline-none focus:ring-2 
        focus:ring-offset-2 focus:ring-primary;
    }
    .btn-secondary {
        @apply w-full flex justify-center py-2 px-4 border border-transparent 
        text-sm font-medium rounded-md text-white bg-secondary 
        hover:bg-secondary-hover focus:outline-none focus:ring-2 
        focus:ring-offset-2 focus:ring-secondary;
    }
    .btn-tertiary {
        @apply w-full flex justify-center py-2 px-4 border-none
        text-sm font-medium text-primary bg-transparent 
        hover:text-primary-hover focus:outline-none;
    }
    .form-container {
        @apply max-w-md w-full space-y-8 p-10 bg-background 
        bg-opacity-80 rounded-xl shadow-lg relative z-20;
    }
    .filmrel-selection-hover {
        @apply hover:bg-primary-hover border border-gray-700 hover:border-red-400 hover:bg-gray-800 
        hover:text-white cursor-pointer active:bg-red-500;
    }
}