@tailwind base;
@tailwind components;
@tailwind utilities;
/* ĐỊNH NGHĨA CSS ĐỂ ẨN SCROLLBAR */
.hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
  
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* WebKit */
}
@layer base {
    /* * {
        @apply transition-colors duration-200;
      }
      
      body {
        @apply bg-background text-text;
      }
      
      h1, h2, h3, h4, h5, h6, p {
        @apply text-text;
      }
      
      a {
        @apply text-text hover:text-primary-hover;
      } */
    :root {
        /* Dark theme (default) */
        --color-primary-default: #E50914;
        --color-primary-dark: #8B0000;
        --color-primary-light: #E50914;
        --color-primary-hover: #C00000;
        
        --color-secondary-default: #2A2A2A;
        --color-secondary-light: #3A3A3A;
        --color-secondary-hover: #454545;
        --color-secondary-gray: #D1D1CD;
        --color-secondary-placeholder: #6b7280;
        
        --color-accent-default: #E5E5E1;
        --color-accent-dark: #D1D1CD;
        --color-accent-hover: #F5F5F1;
        
        --color-background-default: #0F0F0F;
        --color-background-light: #252525;
        --color-background-hover: #303030;
        
        --color-text-default: #F0F0F0;
        --color-text-hover: #FFFFFF;
        --color-text-muted: #A0A0A0;
        --color-text-special: #a0a0a0;
        
        --color-border-default: #2A2A2A;
        --color-border-hover: #454545;
        --color-placeholder-default: #5F5F5F;
    }

    .theme-light {
        /* Light theme */
        --color-primary-default: #E50914;
        --color-primary-dark: #8B0000;
        --color-primary-light: #FF1A1A;
        --color-primary-hover: #C00000;
        
        --color-secondary-default: #F5F5F5;
        --color-secondary-light: #FFFFFF;
        --color-secondary-hover: #E5E5E5;
        --color-secondary-gray: #A0A0A0;
        --color-secondary-placeholder: #6b7280;
        
        --color-accent-default: #F5F5F5;
        --color-accent-dark: #E5E5E5;
        --color-accent-hover: #FFFFFF;
        
        --color-background-default: #F5F5F5;
        --color-background-light: #e1e1e1;
        --color-background-hover: #EFEFEF;
        
        --color-text-default: #0F0F0F;
        --color-text-hover: #000000;
        --color-text-muted: #666666;
        --color-text-special: #a0a0a0;
        
        --color-border-default: #E5E5E5;
        --color-border-hover: #CCCCCC;
        --color-placeholder-default: #94979F;
    }

    body {
        @apply bg-background text-text transition-colors duration-200;
    } 
}

@layer components {
    .input-field {
        @apply w-full px-4 py-2 mb-2 rounded-lg bg-background border border-secondary
        focus:border-primary transition-colors text-text placeholder-text-muted
        hover:border-primary caret-primary;
    }
    .btn-primary {
        @apply w-full flex justify-center py-2 px-4 border border-transparent 
        text-sm font-medium rounded-md text-white bg-primary 
        hover:bg-primary-hover focus:outline-none focus:ring-2 
        focus:ring-offset-2 focus:ring-primary;
    }
    .btn-secondary {
        @apply w-full flex justify-center py-2 px-4 border border-transparent 
        text-sm font-medium rounded-md text-text bg-secondary 
        hover:bg-secondary-hover focus:outline-none focus:ring-2 
        focus:ring-offset-2 focus:ring-secondary;
    }
    .btn-tertiary {
        @apply w-full flex justify-center py-2 px-4 border-none
        text-sm font-medium text-primary bg-transparent 
        hover:text-primary-hover focus:outline-none;
    }
    .form-container {
        @apply max-w-md w-full space-y-8 p-10 bg-background 
        bg-opacity-80 rounded-xl shadow-lg relative z-20;
    }
    .filmrel-selection-hover {
        @apply hover:bg-primary-hover border border-secondary hover:border-primary
        hover:bg-background-hover hover:text-text-hover cursor-pointer active:bg-primary;
    }
}